@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
    font-family: 'Nunito', sans-serif ;
    margin: 0;
    padding: 0;
}

/* HEADER NAVIGATION */

header {
    background-color: #ADB191;
    color: #fff;
    padding: 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease;
    /* backdrop-filter: blur(10px);
    transition: backdrop-filter 0.3s ease; */
}

header.scrolled {
    background-color: rgba(164, 168, 135, 0.8);
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo1 img {
    width: 95px; /* Sesuaikan ukuran logo */
    height: 95px;
}
.logo2 img {
    width: 80px; /* Sesuaikan ukuran logo */
    height: 80px;
}


nav {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li a:hover{
    color: #51693A;
    transition: 0.3s;
}

/* Dropdown style */
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 15px;
    background-color: #7f906e77;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    top: 23px;
}

.dropdown-content a {
    display: flex;
    margin: 0 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-icon {
    display: none;
}

.menu-icon {
    display: none;
    padding-right: 20px;
    font-size: 28px;
    align-items: center;
}

/* Media queries */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        flex-wrap: wrap;
    }

    nav{
        /* display: none;  */
        padding-left: 20px;
    }

    ul {
        flex-direction: column;
    }

    .hidden {
        display: none;
    }

    .open {
        display: none;
    }

    li {
        margin-bottom: 10px;
    }


    .dropdown-icon {
        display: block;
        padding-left: 8px;
    }

    .dropdown .dropdown-content {
        top: 0;
        left: 4rem;
    }


    .dropdown-content a {
        touch-action: url(Template.html);
    }

    .menu-icon {
        display: flex;   
        text-align: right;
        padding-right: 20px;
        font-size: 28px;
        align-items: center;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .container-content h1{
        font-size: 18px;
    }

    .hampir-footer{
        flex-direction: column;
    }

    .points-container .points-list {
        margin-left: 5rem;
    }
    
    .program-images {
        flex-direction: column; 
    }

    .banner {
        margin-top: 11.1rem;
    }

    .sisi-kiri .kiri-container {
        border: none;
    }

    .kiri-text {
        color: #fff;
    }

}

/* FOOTER */


footer {
    background-color: #ADB191;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.atas {
    border-bottom: 3px solid #7F906E;
    padding: 3rem;
}

/* SISI KIRI */
.sisi-kiri {
    line-height: 0.5;
    width: 35%; 
    justify-content: center;
    align-items: center;
    color: #fff;
    border-right: 3px solid #7F906E;
    float: left;
}

.sisi-kiri img{
    width: 20%;
    height: 20%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.sisi-kiri h3{
    font-size: 30px;
}
.sisi-kiri h4{
    font-size: 25px;
}
.sisi-kiri p{
    font-size: 20px;
}

/* SISI TENGAH */
.sisi-tengah {
    margin: 10px;
    float: left;
    padding-left: 10px;
    color: #fff;
}

.sisi-tengah h3 {
    text-align: left;
    font-size: 30px;
    color: #425E4C;
    margin-top: 15px;
}

.contact-icon {
    display: flex;
}

.contact-icon p {
    text-align: center;
    align-content: center;
    
    margin: 10px;
}

.email-icon {
    display: flex;
}

.email-icon p {
    text-align: center;
    margin-left: 13px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.sisi-tengah .contact-icon {
    padding-bottom: 10px;
}

.sisi-tengah .email-icon {
    padding-bottom: 10px;
}

/* SISI KANAN */
.sisi-kanan {
    text-align: left;
    margin: 10px;
}


.sisi-kanan h3 {
    font-size: 30px;
    color: #425E4C;
    justify-content: center;
    align-content: center;
    margin-left: 60rem;
}

.sisi-kanan .Menu-content a {
    margin-left: 110px;
    line-height: 1.5;       
}


.bawah {
    color: #fff;
    width: 100%;
    padding-bottom: 1px;
}

.copyright p {
    text-align: right;
    margin-right: 10px;
}


/* MAIN */
.program {
    padding-top: 8rem;
}

.program h1 {
    margin-top: 1rem;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #595145;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 3px solid #51693A;
    margin: 0 30rem;
}

.tadarus-container {
    text-align: center;
}

.tadarus-container img {
    padding-top: 4rem;
    width: 50%;
    height: 50%;
}

.tadarus-container h3 {
    margin-top: 1rem;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #595145;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tadarus-container .tadarus-text {
    text-align: center;
    width: 100%;
    color: #51693A;
    font-size: 20px;
    font-family: 'Nunito', sans-serif ;
    padding-bottom: 2rem;
    flex-direction: column;
}

.kelas-tadarus {
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    
}

.kelas-tadarus-container {
    display: flex;
}

.box-p {
    background-color: #E4E4D8;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.isibox-p p {
    text-decoration: dotted;
    text-align: center;
    font-size: 25px;
    color: #595145;
}

.sisi-section {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}


.isi-hafalan ul{
    padding-top: 2rem;
    flex-direction: column;
}   

.text-hafalan li{
    display: flex;
    padding: 3px;
    
}

.tahfidz-container {
    padding-top: 2rem;
}

/* 
.kelas {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.kelas-iqro {
    padding-left: 70px;
    size: 25px;
}
.kelas-quran {
    padding-right: 70px;
    size: 25px;
}

.text-kelas {
    color: #595145;
    font-size: 25px;
    text-align: center;
} */

/* 
.tadarrus {
    color: #595145;
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    text-align: center;
}

.deskripTada {
    width: 1203px;
    height: 211px;
    flex-shrink: 0;
    color: #595145;
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 80px;
}


.main-container p {
    text-align: center;
}

.box-p1 {
    background-color: #E4E4D8;
    padding-bottom: 40px;
    width: 100%;
}

.isibox-p1 {
    font-size: 25px;
    text-align: center;
    color: #595145;
}


.tahfidz {
    color: #595145;
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    text-align: center;
}

.isitahfidz {
    width: 1203px;
    height: 211px;
    color: #595145;
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 80px;
}

.box-p3 {
    background-color: #E4E4D8;
    padding-bottom: 40px;
    width: 100%;
}

.isibox-p3 {
    font-size: 25px;
    text-align: center;
    color: #595145;
}

.Adab {
    color: #595145;
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    text-align: center;
}

.deskrip-adab {
    width: 1203px;
    height: 211px;
    flex-shrink: 0;
    color: #595145;
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 80px;
}


.box-p4 {
    background-color: #E4E4D8;
    padding-bottom: 40px;
    width: 100%;
}

.isibox-p4 {
    font-size: 25px;
    text-align: center;
    color: #595145;
}

.sholat {
    color: #595145;
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    text-align: center;
}

.isisholat {
    width: 1203px;
    height: 211px;
    color: #595145;
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 80px;
}

.box-p5 {
    background-color: #E4E4D8;
    padding-bottom: 40px;
    width: 100%;
}

.isibox-p5 {
    font-size: 25px;
    text-align: center;
    color: #595145;
}

.box-p6 {
    background-color: #E4E4D8;
    padding-bottom: 40px;
    width: 100%;
}

.isibox2-p6 {
    font-size: 25px;
    text-align: center;
    color: #595145;
}

.isibox2-p6 {
    font-size: 25px;
    text-align: center;
    color: #595145;
<<<<<<< HEAD
} */
=======
} */
>>>>>>> 55a9f1f7e0d47cd622a38891e88dd92748736b22
